@import "../../variables.scss";

div#navigation-bar {
  display: flex;
  justify-content: flex-end;
  div.top-menu {
    padding: 0.75rem;
    display: flex;
    align-items: baseline;
    a {
      text-decoration: none;
      text-align: center;
    }
    div.accessibility-drop-down {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      font-size: 1.25rem;
      background-color: $tertiary;
      box-shadow: 0 0.15rem 0.25rem rgba($primary, 0.25);
      margin-right: 0.75rem;
      span.accessibility-menu {
        width: 10.625rem;       
      }
    }
    a.donor-link {
      span.donor-button {
        color: $primary;
        background-color: #CEB581;
        box-shadow: 0 0.15rem 0.25rem rgba($primary, 0.25);
      }
    }
    a.social-media-link,
    a.donor-link {
      margin-left: 0.75rem;
    }
    a.social-media-link {
      font-size: 2rem;
      align-self: center;

    }
    span.site-links {
      font-weight: 500;
      font-size: 1.25rem;
      border-left: 0.125rem solid $primary;
      border-right: 0.125rem solid $primary;
      a.site-link,
      a.current-link {
        margin: 0 0.75rem;
        display: inline-block;
      }
      a.current-link {
        color: $tertiary;
        background-color: $primary;
        padding: 0.5rem;
      }
    }
  }
}
