// @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import "./variables.scss";

body {
  color: #222b30;
  background-color: $secondary;
  // font-family: 'Rubik', sans-serif;
  font-family: 'Fredoka', sans-serif;
  padding: 0.75rem;
  margin: 0;
}
::selection {
  background: #A6A6A6;
  color: #101010;
}
